<div class="sche-set-area  modal-body" [hidden]="!showEdit">
    <div class="ipt-area pause-area">
        <span class="mylabel">是否启用：</span>
        <span class="checkbox-bg"
              (click)="changePause(editScheObj.pause, 1)"
              [class.active]="!editScheObj.pause">
        </span>
        <span class="checkbox-span">启用</span>
        <div class="error"></div>
    </div>
    <div class="ipt-area time-period">
        <span class="mylabel">调度周期：</span>
        <div class="div time-period-b">
            <span class="select-value time-period-span" (click)="showNewPeriod(1)" id="editPeriodUl">
                {{getkeyByValue(editScheObj.schePeriod, setPeriodArr, 'value', 'key')}}
                <span class="triangle time-period-triangle"></span>
            </span>
            <ul class="period-ul time-period-ul" *ngIf="showEidtPeriodUL">
                <li *ngFor="let item of setPeriodArr"
                    [class.active]="editScheObj.schePeriod === item.value"
                    (click)="changeeditschePeriod(item.value)">
                    {{item.key}}
                </li>
            </ul>
        </div>
        <div class="div time-period-a"
             *ngIf="editScheObj.schePeriod !== 'Hour'"
             (click)="PeriodSelectorShow(1,$event)" id="EditPeriod">
            <span class="select-value time-period-span" title="{{getCalc(editScheObj)}}">
                {{getCalc(editScheObj)}}
                <span class="triangle time-period-triangle"></span>
            </span>
        </div>
    </div>
    <div class="ipt-area" style="padding-top:10px;">
        <span class="mylabel">调度时间：</span>
        <input class="input" title="调度时间" type="text" id="SettingEditDate" autocomplete="off" disableautocomplete
               (click)="TimeSelectorShow(1,$event)"
               [(ngModel)]="editScheObj.specificTime"/>
        <span class="timeselect-span">
             {{ editScheObj.specificTime }}
        </span>
        <div class="error"></div>
    </div>
    <div class="ipt-area can-date">
        <span class="mylabel">有效日期：</span>
        <input [(ngModel)]="editScheObj.startTime" autocomplete="off" disableautocomplete class="date-input" id="editStart"
               title="开始时间" type="text">
        <span class="editStart-span time-span">
            {{getStartEndTimeStr(editScheObj.startTime)}}
        </span>
        <span class="font-text">至</span>
        <input [(ngModel)]="editScheObj.endTime" autocomplete="off" disableautocomplete class="date-input" id="editEnd"
               title="结束时间" type="text">
        <span class="editEnd-span time-span">
            {{getStartEndTimeStr(editScheObj.endTime)}}
        </span>
        <div class="error"></div>
    </div>
    <div class="time-selector-div"
         *ngIf="showEidtTimeSelector"
         [style.position]="'fixed'"
         [style.left]="elementLeft ? elementLeft + 'px' : ''"
         [style.top]="elementTop ? elementTop + 'px' : ''">
        <app-timeselector
            [TimeInit]="TimeInit"
            [timeType]="editScheObj.schePeriod"
            (TimeCancel)="TimeSelectClose()"
            (TimeSelected)="changeTimeSelected($event)">
        </app-timeselector>
    </div>
    <div class="time-periodsetter-div"
         [style.position]="'fixed'"
         [style.left]="periodLeft ? periodLeft + 'px' : ''"
         [style.top]="periodToP ? periodToP + 'px' : ''"
         *ngIf="showEditPeriodSettor">
        <app-periodsetter
            (PeriodSelected)="ConfirmPeriod($event)"
            [PeriodArr]="PeriodArr"
            [PeriodType]="schePeriod">
        </app-periodsetter>
    </div>
</div>
<div class="sche-set-area  modal-body" [hidden]="showEdit">
    <div class="ipt-area pause-area">
        <span class="mylabel">是否启用：</span>
        <span class="checkbox-bg"
              (click)="changePause(newScheObj.pause, 0)"
              [class.active]="!newScheObj.pause"></span>
        <span class="checkbox-span">启用</span>
        <div class="error"></div>
    </div>
    <div class="ipt-area time-period">
        <span class="mylabel">调度周期：</span>
        <div class="div time-period-b">
            <span class="select-value time-period-span" (click)="showNewPeriod(0)" id="newPeriodUl">
                {{getkeyByValue(newScheObj.schePeriod, setPeriodArr, 'value', 'key')}}
                <span class="triangle time-period-triangle"></span>
            </span>
            <ul class="period-ul time-period-ul" *ngIf="showNewPeriodUL">
                <li *ngFor="let item of setPeriodArr"
                    [class.active]="newScheObj.schePeriod === item.value"
                    (click)="changenewschePeriod(item.value)">
                    {{item.key}}
                </li>
            </ul>
        </div>
        <div class="div time-period-a" id="NewPeriod"
             (click)="PeriodSelectorShow(0, $event)"
             *ngIf="newScheObj.schePeriod && newScheObj.schePeriod !== 'Hour'">
            <span class="select-value time-period-span" title="{{getCalc(newScheObj)}}">
                {{getCalc(newScheObj)}}
                <span class="triangle time-period-triangle"></span>
            </span>
        </div>
    </div>
    <div class="ipt-area" style="padding-top:10px;">
        <span class="mylabel">调度时间：</span>
        <input class="input" id="SettingDate" type="text" autocomplete="off" disableautocomplete
               title="调度时间"
               (click)="TimeSelectorShow(0, $event)"
               [(ngModel)]="newScheObj.specificTime"/>
        <span class="timeselect-span">
            {{ newScheObj.specificTime }}
        </span>
        <div class="error"></div>
    </div>
    <div class="ipt-area can-date">
        <span class="mylabel">有效日期：</span>
        <input type="text" class="date-input" id="dateStart" autocomplete="off" disableautocomplete
               title="开始时间" [(ngModel)]="newScheObj.startTime">
        <span class="editStart-span time-span">
            {{getStartEndTimeStr(newScheObj.startTime)}}
        </span>
        <span class="font-text">至</span>
        <input type="text" class="date-input" id="dateEnd" autocomplete="off" disableautocomplete
               title="结束时间" [(ngModel)]="newScheObj.endTime">
        <span class="editEnd-span time-span">
            {{getStartEndTimeStr(newScheObj.endTime)}}
        </span>
        <div class="error"></div>
    </div>
    <div class="time-selector-div" *ngIf="showTimeSelector"
         [style.position]="'fixed'"
         [style.left]="elementLeft ? elementLeft + 'px' : ''"
         [style.top]="elementTop ? elementTop + 'px' : ''">
        <app-timeselector
            [TimeInit]="newTimeInit"
            [timeType]="newScheObj.schePeriod"
            (TimeCancel)="TimeSelectClose()"
            (TimeSelected)="changeNewTimeSelected($event)">
        </app-timeselector>
    </div>
    <div class="time-periodsetter-div"
         [style.position]="'fixed'"
         [style.left]="periodLeft ? periodLeft + 'px' : ''"
         [style.top]="periodToP ? periodToP + 'px' : ''"
         *ngIf="showPeriodSettor">
        <app-periodsetter
            [PeriodArr]="newPeriodArr"
            [PeriodType]="newschePeriod"
            (PeriodSelected)="ConfirmNewPeriod($event)">
        </app-periodsetter>
    </div>
</div>
