.navbar-default {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dadada;
    height: 60px;
}

.headLogo {
    height: 60px;
    cursor: pointer;
    margin: 0 5px 0 15px;
    width: 160px;
    background-size: 100%;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    font-size: 14px;
    height: 60px;
    /* width: 80px; */
    cursor: pointer;
    text-align: center;
    margin: 0 15px;
}

.activeMenu {
    color: #4c7daa !important;
    border-bottom: 2px solid #4c7daa;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #4c7daa;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: inherit;
}

.userRoleImg, .userImg {
    width: 18px;
    height: 18px;
    margin-top: 1px;
    background-size: 100%;
    display: inline-block;
    position: relative;
    text-align:right;
    top: -4px;
}

.userRoleImg, .userImg i.icon {
    color: #333;
}

.userRoleDropdown {
    width: 156px !important;
}

.dropdown-menu {
    border: 1px solid #dadada;
    min-width: 0;
    margin-right: 20px;
}

.dropdown-menu li a {
    display: block;
    clear: both;
    color: #333;
    line-height: 28px;
    font-size: 12px;
    cursor: pointer;
    padding: 0 12px;
    text-align: left;
}

.navbar-right {
    margin-right: 0 !important;
}

.caret {
    margin-top: 8px;
    margin-left: 0;
}

.toRight {
    float: right !important;
}

.rolename {
    margin-left: 12px;
    margin-right: 12px;
}

#dropdown03 {
    width: 130px !important;
    margin-right: 10px;
    margin-left: 0;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: -12px;
    padding: 0;
    border-radius: 2px
}

.navbar-nav > li > .dropdown-menu li:first {
    border-radius: 2px 2px 0 0;
}

.navbar-nav > li > .dropdown-menu li:last {
    border-radius: 0 0 2px 2px;
}

.navbar-nav > li > a {
    padding-top: 20px !important;
}

.head-user-title {
    margin-top: 20px;
    margin-right: 18px;
    cursor: pointer;
}

.user-name {
    margin-left: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: inline-block;
    font-size: 12px;
}

.pull-span {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: relative;
    top: -8px;
    left: 16px;
}
