.main-right-area {
    width: 100%;
    height: 100%;
    background: #fff;
}

.ztree-area {
    width: 200px;
    height: calc(100%);
    overflow-y: auto;
    border-radius: 2px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(193, 193, 193, 0.5);
}

.table-out-area {
    width: calc(100% - 232px);
    position: absolute;
    left: 220px;
    top: 14px;
    height: calc(100% - 30px);
    padding: 20px 20px 0 20px;
}

.no-folder {
    width: calc(100% - 232px);
    position: absolute;
    left: 220px;
    top: 16px;
    height: calc(100% - 20px);
    padding: 20px 20px 0 20px;
    z-index: 500;
    background: #fff;
}

.no-folder .new-folder-area {
    width: 98px;
    height: 114px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background-image: url(/assets/imgs/meta/new-folder.svg);
    cursor: pointer;
}

/*--------------------------弹出层区域样式------------------------*/
.ipt-area {
    position: relative;
}

.ipt-area span {
    font-size: 12px;
}

.select-value {
    display: inline-block;
    border: 1px solid #dadada;
    border-radius: 4px;
    width: 240px;
    height: 32px;
    text-indent: 10px;
    font-size: 12px;
    outline: none;
    position: absolute;
    left: 108px;
    top: 0;
    line-height: 32px;
    cursor: pointer;
}

#EditMetaModel .select-value, #MetaModel .select-value {
    left: 60px;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid #999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    left: 330px;
    top: 12px;
    cursor: pointer;
}

#EditMetaModel .triangle, #MetaModel .triangle {
    left: 220px;
}

.modal-body .ipt-area .checkbox-span {
    display: inline-block;
    font-size: 12px;
    margin-left: 24px;
}

.modal-body .ipt-area.time-period {
    height: 52px;
}

.modal-body .ipt-area.time-period div.div {
    display: inline-block;
    position: relative;
    width: 120px;
    top: 17px;
    height: 32px;
}

.modal-body .ipt-area .text-area {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 240px;
    height: 100px;
    font-size: 12px;
    padding-left: 10px;
    outline: none !important;
    resize: none;
}

.modal-body .ipt-area .text-area:focus {
    outline: none !important;
}


.modal-body .ipt-area.time-period div.div.time-period-a {
    margin-left: 28px;
}


.modal-body .ipt-area.time-period .select-value.time-period-span {
    width: 120px;
    left: 0;
    top: -5px;
    overflow: hidden;
    padding-right: 18px;
    cursor: pointer;
}

.modal-body .ipt-area.time-period .time-period-select {
    width: 120px;
    left: 0;
}

.modal-body .ipt-area.time-period .time-period-triangle {
    left: 102px;
    top: 12px;
}

.modal-body .ipt-area.can-date .date-input {
    width: 120px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dadada;
    height: 32px;
    font-size: 12px;
    text-indent: 10px;
    opacity: 0;
    position: relative;
    z-index: 5;
}

.modal-body .ipt-area.can-date .time-span {
    position: absolute;
    width: 120px;
    height: 32px;
    border: 1px solid #dedede;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    line-height: 32px;
    text-indent: 10px;
}

.modal-body .ipt-area.can-date .time-span.editStart-span {
    left: 72px;
    top: 0;
}

.modal-body .ipt-area.can-date .time-span.editEnd-span {
    left: 220px;
    top: 0;
}

.modal-body .ipt-area.can-date .font-text {
    display: inline-block;
    width: 14px;
    text-align: center;
    margin-left: 8px;
}

.modal-body .ipt-area.can-date input[type='checkbox'] {
    margin: 0 4px 0 8px;
    opacity: 0;
    position: relative;
    z-index: 9;
    left: -3px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.input-checkbox {
    opacity: 0;
    position: relative;
    z-index: 9;
    cursor: pointer;
    width: 13px;
    height: 13px;
    left: -1px;
}

.modal-body .time-selector-div {
    position: absolute;
    left: 102px;
    top: 150px;
    z-index: 99;
}

.modal-body .time-periodsetter-div {
    position: absolute;
    left: 250px;
    top: 98px;
    z-index: 99;
}

.modal-body .mylabel {
    display: inline-block;
    width: 96px;
    text-align: right;
    margin-right: 12px;
    font-size: 12px;
    position: relative;
}

#MetaModel .modal-body .mylabel, #EditMetaModel .modal-body .mylabel {
    width: 48px;
}


.modal-body .input[type=text] {
    border: 1px solid #dadada;
    border-radius: 4px;
    width: 240px;
    height: 32px;
    text-indent: 10px;
    font-size: 12px;
    outline: none;
}

.modal-body .select {
    display: inline-block;
    border-radius: 4px;
    width: 240px;
    height: 32px;
    text-indent: 10px;
    font-size: 12px;
    border: 1px solid #dadada;
    vertical-align: top;
    appearance: none;
    -webkit-appearance: none;
    background: #fff;
}

.modal-body .select:focus {
    outline: none;
}

.modal-body .error {
    height: 20px;
    line-height: 20px;
    color: #ee4a4b;
    font-size: 12px;
    padding-left: 94px;
}

.my-select {
    opacity: 0;
}

.modal-body .checkbox_item {
    display: inline-block;
    margin-right: 16px;
    font-weight: normal;
}

.modal-body .checkbox_item input {
    vertical-align: 0;
}

.modal-footer {
    position: relative;
}

.modal-footer .test-btn {
    position: absolute;
    left: 30px;
}

/*----------------------------元数据采集任务详情样式------------------------*/
.collect-details {
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    background: #fff;
    padding: 20px 20px 0 20px;
    position: absolute;
    left: 16px;
    top: 15px;
    z-index: 999;
}

.collect-details-header {
    height: 98px;
    width: calc(100%);
    margin-bottom: 6px;
}

.collect-details-header .crumbs-div {
    height: 20px;
    margin-bottom: 20px;
    position: relative;
}

.collect-details-header .crumbs-div span {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 12px;
}

.collect-details-header .crumbs-div span.crumbs-span {
    color: #4c7daa;
    cursor: pointer;
}

.collect-details-header .crumbs-div span.crumbs-info {
    margin-left: 0;
}

.collect-details-header .crumbs-div span.crumbs-back {
    position: absolute;
    color: #4c7daa;
    right: 0;
    cursor: pointer;
}

.collect-details-header .crumbs-div span.crumbs-bg {
    width: 10px;
    background-image: url(/assets/imgs/meta/slide_down.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    transform: rotate(-90deg);
    margin: 5px;
}

.collect-details-header .header-span-area {
    height: 58px;
    background: #f7f7f7;
    width: 100%;
}

.collect-details-header .header-span-area .header-span {
    display: inline-block;
    width: 30%;
    margin-left: 20px;
    height: 58px;
    line-height: 58px;
    font-size: 12px;
}

.collect-details-header .header-span-area .header-span .my-label {
    display: inline-block;
    width: 72px;
    text-align: right;
    margin-right: 18px;
}

.collect-details-header .header-span-area .header-span .my-info {
    display: inline-block;
}

.collect-details-table {
    height: calc(100% - 120px);
}

.collect-details-table .tab-list-area {
    margin-bottom: 16px;
}

.collect-details-table .tab-list-area ul {
    width: 240px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.collect-details-table .tab-list-area .bordr-div {
    width: calc(100% - 240px);
    border-bottom: 1px solid #dadada;
    display: inline-block;
    height: 40px;
    position: relative;
    top: 14px;
}

.collect-details-table .tab-list-area ul li {
    list-style: none;
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dadada;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.collect-details-table .tab-list-area ul li:first-child {
    border-right: none;
    border-radius: 4px 0 0 0;
}

.collect-details-table .tab-list-area ul li:last-child {
    border-radius: 0 4px 0 0;
    border-left: 0;
}

.collect-details-table .tab-list-area ul li.active {
    border-bottom: 1px solid transparent;
}

.checkbox-bg {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 72px;
    top: 4px;
    background-image: url(/assets/plugins/reportplugin/img/check-normal.svg);
    background-repeat: no-repeat;
    background-size: 12px 13px;
    cursor: pointer;
}

.checkbox-bg.active {
    background-image: url(/assets/plugins/reportplugin/img/check-active.svg);
}

.can-date .checkbox-bg {
    left: 214px;
    top: 9px;
}

.period-ul.time-period-ul {
    position: absolute;
    left: 0;
    width: 120px;
    margin: 0;
    padding: 0;
    border: 1px solid #eee;
    border-radius: 3px;
    top: 26px;
    background: #fff;
    z-index: 10;
}

.period-ul li {
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 3px 0;
    color: #333;
    font-size: 12px;
    cursor: pointer;
    text-indent: 10px;
}

.period-ul li:hover {
    color: #333;
    background: #f1f1f1;
}

.period-ul li.active, .period-ul li.active:hover {
    color: #4c7daa;
}

.timeselect-span {
    position: absolute;
    left: 72px;
    top: 10px;
    width: 268px;
    height: 32px;
    border: 1px solid #dedede;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    line-height: 32px;
    text-indent: 10px;
}

.log-span {
    width: 100%;
    height: 15px;
    display: inline-block;
    cursor: pointer;
}

.period-ul {
    position: absolute;
    left: 66px;
    width: 240px;
    margin: 0;
    padding: 1px;
    border: 1px solid #dedede;
    border-radius: 3px;
    top: 29px;
    background: #fff;
    z-index: 10;
}

.period-ul li {
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 3px 0;
    color: #333;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    text-indent: 10px;
}

.period-ul li.active {
    color: #4c7daa;
}

.period-ul li:hover {
    background: #f1f1f1;
    color: #333;
}

.period-ul li.active:hover {
    background: #f1f1f1;
    color: #4c7daa;
}


::ng-deep .dropdown {
    display: inline-block;
}

::ng-deep .dropdown ul {
    position: fixed;
    top: auto;
    left: auto;
}

::ng-deep .dropdown .caret {
    color: #4c7daa;
    cursor: pointer;
    border: 0;
    vertical-align: top;
}

::ng-deep .dropdown .caret:before {
    font-family: "iconfont" !important;
    content: '\e677';
}

::ng-deep .dropdown ul li {
    padding: 6px 10px;
    cursor: pointer;
}

::ng-deep .dropdown ul li:hover {
    background: #f5f5f5;
}

::ng-deep .dropdown ul li.active_filter_style {
    color: #4c7daa;
}

.pull-down-div {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    background: #fff;
    z-index: 20000;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
}

.pull-down-div ul {
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.pull-down-div ul li {
    font-size: 12px;
    color: #333;
    list-style: none;
    padding: 0px 10px;
    text-align: left;
    border-radius: 4px;
}

.pull-down-div ul li:hover {
    background: #f1f1f1;
}

.pull-down-div ul li.active {
    color: #4c7daa;
}
