<div class="stremsets-info">
    <div class="info-item">
        <label>任务名称</label><p>{{pipelineConfig.info.name}}</p>
    </div>
    <div class="info-item">
        <label>最后修改人</label><p>{{pipelineConfig.info.modify_user}}</p>
    </div>
    <div class="info-item">
        <label>最后修改时间</label><p>{{pipelineConfig.info.ts}}</p>
    </div>
    <div class="info-item">
        <label>创建人</label><p>{{pipelineConfig.info.create_user}}</p>
    </div>
    <div class="info-item">
        <label>创建时间</label><p>{{pipelineConfig.info.create_time}}</p>
    </div>
</div>
